body {
  
    background-color: #212121;
    background-image: url("../../assets/bgr/bgr1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: 100%; */
    background-size: cover;
    
    
    font-family: 'Josefin Sans';
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMhhLzTs.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  img.background {
    filter: blur(35px);
  }

  .canvas {
    --main-width: 40%;
    width: var(--main-width);
    height: 50%;
    
    position: relative;
    top: 20%;
    left: 30%;
    background-color: #ffffff;

    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.45));
  }
  .area{
    background-color: greenyellow;
    fill: greenyellow;
  }

  .street {
    stroke: red;
  }

  .house {
    background-color: orange;
    fill: orange
  }